* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/1200x/b3/bf/59/b3bf59b52a5c5cce2005a4e1ebe75722.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ;
    height: 100vh;
}

main{
    background-color: rgba(201, 239, 255, 0.85);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1{
    margin-bottom: 20px;
}

#search{
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
}

#submit{
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

#weather-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

#weather-search{
    display: flex;
    width: 50%;
}

#weather-data{
    background-color: rgba(122, 202, 236, 0.85);
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;

    text-align: center;
    align-items: center;
    gap: 12px;
}

#weather-data > img{
    border-radius: 50%;
    background-color: deepskyblue;
}
